%h1 Log In

= form_tag sessions_path do
  .sign_up_box
    = label_tag :username
    = text_field_tag :username
    %br
    = label_tag :password
    = password_field_tag :password
  = submit_tag "Log In"