%h1 Listing users

%table
  %tr
    %th Username
    %th Email
    %th Gender
    %th Known Languages
    %th Desired Languages
    %th Location
    %th Admin

  - @users.each do |user|

    %tr
      %td= link_to user.username, user
      %td= user.email
      %td= user.gender
      %td= user.known_languages.map {|language| language.name.chomp }
      %td= user.desired_languages.map {|language| language.name.chomp }
      %td= user.address
      / %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
