<!DOCTYPE html>
<html>
<head>
  <title>Babel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/nav' %>

<%= yield %>

<div id="signup_window" class="reveal-modal"></div>
<div id="login_window" class="reveal-modal"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</body>
</html>
